language: java
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages

deploy:
  -
    provider: script
    script: "cp .travis.settings.xml $HOME/.m2/settings.xml && ./mvnw package site-deploy -Prelease"
    skip_cleanup: true
    on:
      branch: master
      tags: true
  -
    provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file:
      - ${TRAVIS_BUILD_DIR}/target/*.jar
      - ${TRAVIS_BUILD_DIR}/target/pdf/*.pdf
    skip_cleanup: true
    on:
      branch: master
      tags: true
